

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

li, a{
    text-decoration: none;
    list-style: none;
}

img{
    width: 100%;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: hsl(36, 100%, 99%);
    padding: 3.5rem 11rem 0rem 11rem;
    font-size: 0.9rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    margin-bottom: 1rem;
}

header ul{
    display: flex;
    gap: 10px;
}

header a{
    color: hsl(236, 13%, 42%);
    padding: 0.5rem 1rem;
}

header a:hover{
    color: hsl(5, 85%, 63%);
}

#menu-hamburguer{
    cursor: pointer;
    width: 50px;
    height: 40px;
    align-items: center;
    display: none;
    z-index: 1000;
}

#menu-hamburguer span{
    background-color: black;
    width: 45px;
    height: 4px;
    display: block;
    position: relative;
}

#menu-hamburguer span::after, #menu-hamburguer span::before{
    content:"";
    border: 1px solid black;
    border-width: 2px;
    position: absolute;
    width: 41px; 
}

#menu-hamburguer span::after{
    bottom: -12px;
}

#menu-hamburguer span::before{
    top: -12px;
}

.active #menu-hamburguer span{
    background-color: transparent;
}

.active #menu-hamburguer span::before{
    transform: rotate(-45deg);
    top: 0px;
    transition: 0.3s;
}

.active #menu-hamburguer span::after{
    transform: rotate(45deg);
    bottom: 0px;
    transition: 0.3s;
}

#screen-black{
    display: none;
}

#container{
    display: grid;
    grid-template-areas: 
    "main-img main-img sec02"
    "title p sec02"
    "article01 article02 article03";
    gap: 20px;
}

#container h1{
    font-size: 2.5rem;
    color: hsl(240, 100%, 5%);
    font-weight: 800;
}

.main-img-desktop{
    grid-area: main-img;
}

.main-img-mobile{
    display: none;
}

.title-main{
    grid-area: title;
}

.paragraph-main{
    grid-area: p;
    position: relative;
}

.paragraph-main p{
    margin-bottom: 30px;
    color: hsl(236, 13%, 42%);
    line-height: 20px;
    font-size: 0.8rem;
}

.paragraph-main a{
    padding:0.7rem 1.5rem;
    cursor: pointer;
    background-color: hsl(5, 85%, 63%);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    position: absolute;
    bottom: 0px;
    display: block;
}

.paragraph-main a:hover{
    background-color: hsl(240, 100%, 5%);
    color: white;
}

.sec02{
    grid-area: sec02;
    background-color: hsl(240, 100%, 5%);
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.sec02 > div:nth-child(3){
    border-top: 1px solid hsl(236, 13%, 42%);
    border-bottom: 1px solid hsl(236, 13%, 42%);
}

.sec02 h2{
    font-size: 2rem;
    color: hsl(35, 77%, 62%);
}

.sec02 a{
    padding: 1rem 0rem;
    cursor: pointer;
    display: block;
    font-weight: 700;
}

.sec02 a:hover{
    color: hsl(35, 77%, 62%);
}

.sec02 p{
    font-size: 0.8rem;
    color: hsl(233, 8%, 79%);
}

.articles{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.articles div img{
    width: 70px;  
    height: 100%;
}

.articles h3{
    color: hsl(233, 8%, 79%);
    font-size: 1.3rem;
}

.articles a{
    font-weight: 700;
    font-size: 0.9rem;
    color: hsl(240, 100%, 5%);
    padding: 0.5rem 0rem;
    display: block;
}

.articles a:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

.articles p{
    color: hsl(236, 13%, 42%);
    font-size: 0.8rem;
    line-height: 20px;
}

.article01{
    grid-area: article01;
}

.article02{
    grid-area: article02;
}

.article03{
    grid-area: article03;
}

@media (max-width: 970px){
    body{
        margin: 0rem;
    }

    header{
        max-width: 800px;
        padding: 1rem;
        margin: 1rem auto 2rem;
    }

    #container{
        max-width: 800px;
        display: block;
        padding: 0rem 1rem;
        margin: auto;
        padding-bottom: 3rem;
    }

    .main-img-desktop{
        margin-bottom: 1rem;
    }

    .paragraph-main a{
        position: relative;
        width: 100px;
        text-align: center;
    }

    .sec02{
        margin-top: 50px;
        display: block;
    }

    .sec02 div, .sec02 div:nth-child(3) p{
        margin-bottom: 1rem;
    }
}

@media (max-width: 650px){
    #logo{
        width: 50px;
    }

    header nav{
        display: none;
    }
    
    .active nav{
        position: fixed;
        background-color:  hsl(36, 100%, 99%);
        height: 100%;
        bottom: 0px;
        z-index: 500;
        width: 240px;
        right: 0px;
        display: block;
        padding: 6rem 1rem 1rem 0rem;
        box-sizing: border-box;
        animation: anim 0.4s forwards;
    }

    @keyframes anim {
        to{
            transform: translate(0%);
        }from{
            transform: translate(100%)
        }
    }

    header nav ul{
        display: block;
    }

    header li {
        margin: 2rem 0rem;
    }

    header li > a{
        padding: 1rem;
        font-size: 1.1rem;
        color:hsl(240, 100%, 5%);
        font-weight: 600;
    }

    #menu-hamburguer{
        display: flex;
        position: relative;
    }

    .main-img-desktop{
        display: none;
    }

    .main-img-mobile{
        display: block;
        margin-bottom: 1rem;
    }
    
    .active > #screen-black{
        display: block;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100;
        top: 0px;
    }

    body.active{
        overflow: hidden;
    }

}
